
@model OgrenciDersPanosu.Models.RegisterOgretmen
@{
    ViewBag.Title = "Register";
    //Öğretmen kayıt sayfasıdır
}

<link href="~/Content/Register.css" rel="stylesheet" type="text/css" />
<div class="form">
    <h2>Kayıt Ol</h2>
    <hr />
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        //Öğretmen için kayıt formu post edilmesini sağlar
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(i => i.OgretmenId)
            @Html.TextBoxFor(i => i.OgretmenId, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.OgretmenIsim)
            @Html.TextBoxFor(i => i.OgretmenIsim, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.OgretmenSoyisim)
            @Html.TextBoxFor(i => i.OgretmenSoyisim, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Sifre)
            @Html.TextBoxFor(i => i.Sifre, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-custom3">Register</button>
    }
</div>

