@model OgrenciDersPanosu.Models.Derslik_Gonderi
@{
    ViewBag.Title = "Derslik";
}

<link href="~/Content/Derslik.css" rel="stylesheet" type="text/css" />


<div class="bodyn">
    <a id="side1" class="bodyn" onclick="location.href='@Url.Action("Derslik", "Home", new { dersId = ViewBag.dersId })'">Sınıf Panosu</a>
    <a id="side2" class="bodyn" onclick="location.href='@Url.Action("Derslik_Uyeleri", "Home", new { dersId = ViewBag.dersId })'">Üyeler</a>
    <a id="side3" class="bodyn" onclick="location.href='@Url.Action("OgrenciNotlariniGoruntule", "Home", new { dersId = ViewBag.dersId })'">Notlar</a>
</div>


<div class="post">
    @{
        OgrenciDersPanosu.identity.IdentityDataContext context = new OgrenciDersPanosu.identity.IdentityDataContext();
        OgrenciDersPanosu.Models.Ders ders = context.Dersler.Find(ViewBag.dersId);
        string ders_adi = ders.DersAdi;
    }
    <div id="column-1" class="post"><h2>@(ders_adi)</h2><br><br><br><br><br><br><hr></div>
    <div id="postboxpos" class="post">
        @Html.ValidationSummary()
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.TextAreaFor(i => i.Gonderi, new { @class = "form-control", @id = "postbox", @type = "text", @placeholder = "Güncelleme Yap" })
            </div>
            <div id="postpos" class="post">
                <button type="submit" class="btn btn-custom5 btn-sm">Gönder</button>
            </div>
        }
    </div>
</div>

<div class="panel panel-primary">
    @{
        context = new OgrenciDersPanosu.identity.IdentityDataContext();
        ders = context.Dersler.Find(ViewBag.dersId);
        var gonderiler = new List<OgrenciDersPanosu.Models.Derslik_Gonderi>();
        if (ders.Gonderiler != null)
        {
            gonderiler = ders.Gonderiler.ToList();
            gonderiler = gonderiler.OrderByDescending(o => o.zaman).ToList();
        }
        if (gonderiler != null)
        {
            int i = 290;
            foreach (var gonderi in gonderiler)
            {
                <div class="post1 toppos" style="top:@(i)px">
                    <div id="kullaniciadi">@gonderi.gonderenIsmi</div>
                    <div id="post1text">@gonderi.Gonderi</div>
                    <div id="zaman">@gonderi.zaman</div>
                </div>
                i = i + 200;
            }
        }
    }
</div>